*{
    padding: 0;
    margin: 0;
}
.uppercase {
    text-transform: uppercase;
    text-align: center;
    font-size: 4rem;
    letter-spacing: 8px;
    margin: 10px;
}
header {
    position: sticky;
    top: 0;
    background-color: white;
}
nav{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
ul{
    list-style-type: none;
}

ul li {
    display: inline-block;
    margin: 5px;
}

ul li:not(:last-child)::after{
    content: '>>';
    margin-left: 10px;
}

ul a {
    text-decoration: none;
    color: black;
}

.two-column{
    columns: 2;
}

.ruled {
    column-rule: 1px dotted black;
}

.column-break{
    break-before:column;
}

.three-column{
    columns: 3;
}
.four-column{
    columns: 4;
}

article h2 {
    margin: 20px 10px;
}

p {
    text-align: justify;
}