@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    
}

ul {
    list-style: none;
}

header {
    border: 1px solid black;
    margin: 10px auto;
    border-radius: 10px;
    max-width: 600px;
    line-height: 2;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

h1 {
    background-color: yellow;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

li {
    border-top: 1px solid black;
}

li a{
    text-decoration: none;
    display: block;
    color: rgba(0, 0, 0, 0.774);
}

li a:hover, li a:focus{
    cursor: pointer;
    background: rgb(78, 78, 78);
    color: white;
}

li:last-child a{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}