/* RESET */
* {
    padding: 0;
    margin: 0;
}

/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* VARIABLES */
:root {
    --LIGHT-COLOR: #EDF2F4;
    --DARK-COLOR: #2B2D42;
    --DARK-BACKGROUND: #2B2D42;
    --LIGHT-BACKGROUND: #8D99AE;
    --DARK-BORDER: 2px solid var(var(--DARK-COLOR));
    scroll-behavior: smooth;
}

/* Generic Classes */
.text-center {
    text-align: center;
}

.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

/* INITIAL */
body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    height: 100vh;
    background-color: var(--LIGHT-BACKGROUND);
}

nav ul {
    list-style-type: none;
    justify-content: space-between;
    padding: 0px 20px 30px
}

nav ul li a {
    color: var(--LIGHT-COLOR);
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

header,
footer {
    background-color: var(--DARK-BACKGROUND);
    color: var(--LIGHT-COLOR);
}

header h1,
footer {
    font-size: 2rem;
    padding: 30px;
}

/* IDS */
#hero-section {
    width: 100%;
    height: 50vh;
    color: var(--LIGHT-COLOR);
    background-image: url(./images/3rago.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

#hero-section h2 {
    font-size: 2rem;
    text-shadow: 2px 2px 2px var(--DARK-BORDER);
    text-transform: uppercase;
}

.card-container {
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px auto;
    gap: 30px;
}

.card-container div {
    border: var(--DARK-BORDER);
    border-radius: 5px;
    padding: 30px;
    background-color: var(--LIGHT-COLOR);
    color: var(--DARK-BORDER);
}

.card-container img {
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    outline: var(--DARK-BORDER);
    outline-offset: 2px;
    border: var(--DARK-BORDER);
    margin-bottom: 20px;
}

.card-container h2 {
    text-align: center;
}