@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
body {
  display: grid;
  grid-template-areas: 
    "hd hd hd hd hd"
    "hr hr hr hr as"
    "cr cr cr cr as"
    "ar ar ar ar as"
    "ar ar ar ar as"
    "ft ft ft ft ft"
  ;
  gap: 20px;
  padding: 20px;
}

header{
  grid-area: hd;
}
nav{
  padding: 10px;
}
nav li a{
  text-decoration: none;
  color: black;
}
.hero{
  grid-area: hr;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-auto-flow: column;
  align-items: center;
  text-align: center;
}
.hero img{
  height: auto;
  width: 25vw;
  border-radius: 50%;
}

h1{
  text-align: center;
}
nav ul{
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
aside{
  grid-area: as;
}

.cards{
  grid-area: cr;
  display: grid;
  gap: 20px;
}

.card, article{
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 5px -5px black;
  padding: 10px;
}
.card{
  height: 400px;
  overflow: hidden;
}
.articles {
  grid-area: ar;
  display: grid;
  gap: 20px;
}
.cards h2, .articles h2{
  grid-column: 1/5;
  text-decoration: underline;
}
.card img{
  width: 100%;
  height: auto;
  border-radius: 5px;
}
figure{
  width: 100%;
}
footer {
  grid-area: ft;
}

.grid{
  display: grid;
}

footer{
  text-align: center;
  font-size: 32px;
  border-top: 2px solid black;
}
header{
  border-bottom: 2px solid black;
}

section:not(aside section){
  border-bottom: 2px solid black;
  padding-bottom: 20px;
}
section:not(aside section):last-of-type{
  border-bottom: none;
}
aside{
  border-left: 2px solid black;
  padding-left: 10px;
}

header h1{
  text-transform: uppercase;
  font-size: 32px;
  padding: 20px;
  border: 2px solid black;
}

.hero-text{
  font-size: 80px;
}

#top-btn a{
  position: fixed;
  right: 30px;
  bottom: 30px;
  font-size: 60px;
  width: 80px;
  text-decoration: none;
  border-radius: 50%;
  background-color: rgb(122, 229, 122);
}